*{
    margin:0px;
    padding:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:normal;
}
#container{
    width:970px;
    margin:auto;   
}
#wrapper1{
    display:inline-block;
    background-color:rgb(36,80,118);
    border-style:inset;
    border-color:rgb(25,55,83);
    height:500px;
    width:970px;
}
#header{
  height:125px;
  width:970px;  
}
#header .logo{
    display:inline-block;
    padding-top:20px;
    padding-left:25px;
    height:100px;
}
#rightheader{
    display:inline-block;
    vertical-align:top;
    height:100px;
    width:250px;
    margin-left:275px;
}
#rightheader p{
    color:white;
    font-size:13pt;
    text-align:right;
    font-size:11pt;
    padding-top: 5px;
    padding-bottom: 3px;
}
#rightheader .textsizeheader{
    color:rgb(254,210,47);
    text-decoration:underline;
}
#rightheader .blackbar{
    color:black;
}
#searchbar{
    display:inline-block;
    background-color: rgb(68, 68, 68);
    height: 60px;
    width: 250px;
    border-radius: 8px;
    box-shadow:3px 3px black; 
}
#searchbar .searchinput{
    display: inline-block;
    background-color: white;
    width: 180px;
    margin-top:15px;
    margin-left:15px;
    box-shadow:2px 2px 2px 2px rgb(215, 215, 215) inset;
    color: rgb(205, 205, 205);
    text-align: center;
    padding-top:10px;
}
#searchbar .searchbutton{
    display:inline-block;
    background-color: rgb(36,80,118);
    height:30px;
    width:40px;
    border:3px solid rgb(111,111,111);
    border-radius:5px;
    box-shadow: 1px 1px black;
    margin-left:5px;
    color:white;
    text-align: center;
    padding-top:5px;
    font-size:11pt;  
}
#maincontent{
    display: inline-block;
	width:970px;
	vertical-align: top;
}
#maincontent .topnavbar{
        background: linear-gradient(rgb(57, 119, 171),rgb(74, 127, 171),rgb(57, 119, 171));
        border-radius: 5px;
        box-shadow: black 3px 3px 3px;
        display:inline-block;
        margin-right:50px;
        margin-left:100px;
        color:white;
        font-size: 14pt;
        word-spacing: 50px;
        font-weight: normal;
        text-decoration: none;
        height: 30px;
        width: 850px;
        text-align: center;
        padding-top: 12px;   
}
#maincontent ul{
    display:inline-block;
    list-style:none;
    margin-left: 120px;
    margin-top: 20px;
} 
#maincontent ul li:before {
	color: rgb(243, 204, 54);
	content: ">> ";
	font-size: 9px;
	vertical-align: middle;
    margin-right: 3px;
}
#maincontent li {
    padding-top:7px;
    padding-bottom:7px;
    text-align:center;
}
#maincontent a{
    color:white;
}
#maincontent .aboutblock{
    display: inline-block;
    color: white;
    width: 500px;
    padding-left: 145px;
    padding-top: 25px;
    padding-bottom: 15px;
    color:white;
    font-size:11pt;
    text-align:center;
    vertical-align:top;
    height:300px;
}
#maincontent .quoteblock{
    font-style:italic;
    color:rgb(235,199,53);
    font-size:13pt;
    padding-top:5px;
    display:inline-block;
    line-height:1.6;
}
#maincontent .zen{
    color:white;
    font-size:11pt;
    padding-top:15px;
    display:inline-block;
}
#bottomcontent{
    background-color:white;
    height:230px;
    width:970px;
    padding-top:10px;
    margin-left:60px;
}   
#bottomcontent .columnhead{
    color:black;
    font-weight:bold;
    text-align:center;
    font-size:13pt;
}
#bottomcontent .columntext{
    color:black;
    padding-top:10px;
    font-size:11pt;
    text-align:center;
}
#bottomcontent .bluetext{
    color:lightskyblue;
}
#bottomcontent .bluetext2{
    color:lightskyblue;
    font-size:10pt;
}
#bottomcontent ul{
    list-style-type:square;
    list-style-position:outside;
    text-align:center;
    width:250px;
    padding-left:75px;
}
#bottomcontent li{
    font-size:11pt;
    padding:2px;
}
 #one{
    width:400px;
    vertical-align:top;
    padding-top:10px;
    display:inline-block;
    border-top:solid 3px rgb(115,167,213);
}
#two{
    width:400px;
    padding-left:75px;
    padding-top:10px;
    display:inline-block;
    border-top:solid 3px rgb(115,167,213);
}
#footer{
    width:970px;
    background:linear-gradient(rgb(37,81,120),rgb(39,81,131),rgb(48,108,160));
    display: inline-block;
    height:100px;
    text-align:center;
}
#footer .footerhead{
    display:inline-block;
    text-align:center;
    color:lightskyblue;
    padding-left:40px;
    padding-top: 50px;
    font-size: 12pt;
}
#footer p.footertext{
    color:lightskyblue;
    font-size:7pt;
    padding-top:15px;
}

    
    

















